probes:
  - id: monika.hyperjump.tech
    name: monika.hyperjump.tech
    requests:
      - url: https://monika.hyperjump.tech/articles
        method: GET
        timeout: 10000
        body: ''
      - url: https://de.wiktionary.org/wiki/hyperjump
        method: GET
        timeout: 10000
        body: ''
      - url: https://id.wiktionary.org/wiki/hyperjump
        method: GET
        timeout: 10000
        body: ''
      - url: https://en.wiktionary.org/wiki/hyperjump
        method: GET
        timeout: 10000
        body: ''
      - url: https://monika.hyperjump.tech/index
        method: GET
        timeout: 10000
        body: ''
    interval: 900
    alerts:
      - assertion: response.status < 200 or response.status > 299
        message: HTTP Status is not 200
      - assertion: response.time > 2000
        message: Response time is more than 2000ms
notifications:
  - id: default
    type: desktop
