{
    "extends": ["oclif", "oclif-typescript", "prettier"],
    "rules": {
        "no-warning-comments": "off",
        "no-process-exit": "off"
    },
    "overrides": [
        {
            "files": ["docs/**/*.js"],
            "rules": {
                "unicorn/filename-case": "off"
            }
        }
    ]
}
