{
  "interval": 0,
  "notifications": [
    {
      "id": "unique-id-mailgun",
      "type": "mailgun",
      "data": {
        "recipients": ["recipient1@mailgun.com"],
        "apiKey": "YOUR_API_KEY",
        "domain": "YOUR_DOMAIN"
      }
    },
    {
      "id": "unique-id-sendgrid",
      "type": "sendgrid",
      "data": {
        "recipients": ["recipient1@sendgrid.com"],
        "apiKey": "YOUR_API_KEY"
      }
    },
    {
      "id": "unique-id-smtp",
      "type": "smtp",
      "data": {
        "recipients": ["recipient1@smtp.com"],
        "hostname": "https://www.smtphostname.com",
        "port": 8080,
        "username": "smtpusername",
        "password": "smtppassword"
      }
    },
    {
      "id": "unique-id-webhook",
      "type": "webhook",
      "data": {
        "method": "POST",
        "url": "https://examplewebhookurl.com/webhook"
      }
    }
  ],
  "probes": [
    {
      "id": "1",
      "name": "Example",
      "description": "Probe",
      "request": {
        "method": "GET",
        "url": "https://worldtimeapi.org/api/ip",
        "timeout": 7000,
        "headers": {
          "Authorization": ""
        },
        "body": {
          "username": "someusername",
          "password": "somepassword"
        }
      },
      "alerts": ["status-not-2xx", "response-time-greater-than-200-ms"]
    }
  ]
}
