
name: DockerPush

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{secrets.HYPERJUMP_DOCKER_USERNAME}}
          password: ${{secrets.HYPERJUMP_DOCKER_PASSWORD}}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: hyperjump/monika:${GITHUB_REF#refs/tags/}