# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Upload Binary

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  upload:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.runs_on }}
    strategy:
      matrix:
        include:
          - os: Windows
            runs_on: windows-latest
            platform: win-x64
            file_name: monika.exe

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      
      - run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        name: Get version
        id: get_version
        shell: bash

      - run: mkdir dist && echo test file > ./dist/test-file.txt
        name: Pack the binary using vercel/pkg

      - run: file ./dist/*
        name: List all the files to be compressed
        shell: bash
      
      - name: Compress all binaries to one zip
        uses: vimtor/action-zip@v1
        with:
          files: dist/${{ matrix.file_name }} dist/node_sqlite3.node
          dest: monika-${{ steps.get_version.outputs.VERSION }}-${{ matrix.platform }}.zip
      
      - name: Generate SHA256 Checksum
        run: shasum -a 256 monika-${{ steps.get_version.outputs.VERSION }}-${{ matrix.platform }}.zip > monika-${{ steps.get_version.outputs.VERSION }}-${{ matrix.platform }}-CHECKSUM.txt
      
      - name: Upload binary to release
        id: upload_binary_to_release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: monika-${{ steps.get_version.outputs.VERSION }}-${{ matrix.platform }}.zip
          asset_name: monika-${{ steps.get_version.outputs.VERSION }}-${{ matrix.platform }}.zip
          tag: ${{ github.ref }}

      - name: Upload checksum to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: monika-${{ steps.get_version.outputs.VERSION }}-${{ matrix.platform }}-CHECKSUM.txt
          asset_name: monika-${{ steps.get_version.outputs.VERSION }}-${{ matrix.platform }}-CHECKSUM.txt
          tag: ${{ github.ref }}
      
      - name: Create chocolateyinstall.ps1 file
        run: echo Install-ChocolateyZipPackage monika './chocolatey/tools' [${{ steps.upload_binary_to_release.outputs.browser_download_url }} --checksum64 shasum -a 256 monika-${{ steps.get_version.outputs.VERSION }}-${{ matrix.platform }}.zip -checksumType64 'sha256'] > ./chocolatey/tools/chocolateyinstall.ps1

      - name: Edit version in monika.nuspec
        uses: rvolo/xml-replace-action@v0.2
        with:
          filepath: "./chocolatey/monika.nuspec"
          xpath: "//package/metadata/version/text()"
          replace: ${{ steps.get_version.outputs.VERSION }}

      - name: Choco pack
        run: choco pack

      - name: Choco upload
        run: |
          choco apikey --key ${{ secrets.GITHUB_TOKEN }} --source https://push.chocolatey.org/
          choco push monika.${{ steps.get_version.outputs.VERSION }}.nupkg --source https://push.chocolatey.org/



